.vardi{
  text-align: center;
  font-family: "Gotham";
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: "Gotham";
  src: url("Gotham-Bold.otf");
}


.radio{
  cursor: pointer;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
  width: 75px;
}
.forward{
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.rewind{
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.pogas{
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.kontroles{
  text-align: center;
  display: none;
}
.bobs{
  width: 100%;
  text-align: center;
}
.bobs img{
  width: 180px;
  height: 180px;
}