
body{
  font-family: "Gotham";
}
.nosaukums{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.vardi{
  text-align: center;
  font-family: "Gotham";
  font-size:36px;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: "Gotham";
  src: url("Gotham-Bold.otf");
}
html { 
  background: url(sunset.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.radio{
  cursor: pointer;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
  width: 75px;
}
.forward{
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.rewind{
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.pogas{
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.kontroles{
  text-align: center;
  display: none;
}
.bobs{
  width: 100%;
  text-align: center;
}
.bobs img{
  width: 160px;
  height: 160px;
  border-radius: 10%;
}
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: -100%;
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  transition: left 0.25s ease;
  padding-top: 60px;
}

.sidebar a {
  font-family: "Gotham";
  src: url("Gotham-Bold.otf");
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  position: fixed;
}


.burger{
  background-color: transparent;
}
.flex-container{
  display: flex;
}
.title{
  text-align: center;
  width: 100%;
  color: #f1f1f1;
  font-size: 25px;


}

@media screen and (max-width: 600px){
  .vardi{
    font-size:  10px;
  }
  .bobs img{
    width: 80px;
    height: 80px;
    border-radius: 10%;
  }
  .title{
    text-align: center;
    width: 100%;
    color: #f1f1f1;
    font-size: 15px;
  }
}
